@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  &.modal-open {
    .modal {
      display: flex;
    }
  }
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

button {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;

  &__wrapper {
    max-width: 600px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 15%);
    border-radius: 7px;
    padding: 1rem;
  }

  &__header {
    text-align: right;
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgb(0 0 0 / 50%);
  }
}
